In [1]:
import pandas as pd
import utils

In [5]:
pair  = "EUR_USD"
granularity = "H1"

In [6]:
df = pd.read_pickle(utils.get_his_data_filename(pair, granularity))

In [10]:
non_cols = ['time', 'volume']

In [11]:
mod_cols = [x for x in df.columns if x not in non_cols]

In [13]:
df[mod_cols] = df[mod_cols].apply(pd.to_numeric)

In [14]:
df.describe()

,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
count,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000
mean,6966.216054,1.072976,1.073766,1.072211,1.072989,1.072886,1.073684,1.072123,1.072904,1.073066,1.073854,1.072294,1.073073
std,5915.156169,0.031830,0.031908,0.031771,0.031839,0.031827,0.031907,0.031769,0.031838,0.031832,0.031910,0.031772,0.031841
min,138.000000,1.019340,1.020410,1.017790,1.019340,1.019250,1.020330,1.017710,1.019260,1.019430,1.020490,1.017860,1.019430
25%,3172.500000,1.045175,1.045925,1.044390,1.045145,1.045095,1.045850,1.044305,1.045065,1.045270,1.045995,1.044465,1.045245
50%,5358.000000,1.077320,1.078140,1.076380,1.077340,1.077230,1.078060,1.076290,1.077250,1.077400,1.078220,1.076460,1.077420
75%,8849.000000,1.095105,1.096355,1.094055,1.095130,1.095000,1.096275,1.093975,1.095020,1.095205,1.096440,1.094135,1.095210
max,54262.000000,1.155820,1.157340,1.154500,1.155840,1.155740,1.157260,1.154410,1.155760,1.155910,1.157430,1.154570,1.155910