In [29]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [7]:
url = f"{defs.OANDO_URL}/accounts/{defs.ACCOUNT_ID}/instruments/"

In [8]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-31560041-001/instruments/'

In [9]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [10]:
response.status_code

200

In [12]:
data = response.json()

In [13]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [ ]:
instruments = data['instruments']

In [26]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [27]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [30]:
for item in instrument_data[0:3]:
    print(item)

{'name': 'USD_HKD', 'type': 'CURRENCY', 'displayName': 'USD/HKD', 'pipLocation': -4, 'marginRate': '0.1'}
{'name': 'USD_CNH', 'type': 'CURRENCY', 'displayName': 'USD/CNH', 'pipLocation': -4, 'marginRate': '0.05'}
{'name': 'SGD_CHF', 'type': 'CURRENCY', 'displayName': 'SGD/CHF', 'pipLocation': -4, 'marginRate': '0.05'}

In [31]:
instrument_df = pd.DataFrame(instrument_data)

In [32]:
instrument_df

       name      type displayName  pipLocation marginRate
0   USD_HKD  CURRENCY     USD/HKD           -4        0.1
1   USD_CNH  CURRENCY     USD/CNH           -4       0.05
2   SGD_CHF  CURRENCY     SGD/CHF           -4       0.05
3   NZD_CAD  CURRENCY     NZD/CAD           -4       0.03
4   NZD_JPY  CURRENCY     NZD/JPY           -2       0.05
..      ...       ...         ...          ...        ...
63  USD_SGD  CURRENCY     USD/SGD           -4       0.05
64  GBP_NZD  CURRENCY     GBP/NZD           -4       0.05
65  USD_TRY  CURRENCY     USD/TRY           -4       0.25
66  GBP_JPY  CURRENCY     GBP/JPY           -2       0.05
67  CHF_HKD  CURRENCY     CHF/HKD           -4        0.1

[68 rows x 5 columns]

In [33]:
instrument_df.to_pickle('instruments.pkl')

In [34]:
new_table = pd.read_pickle('instruments.pkl')

In [35]:
new_table

       name      type displayName  pipLocation marginRate
0   USD_HKD  CURRENCY     USD/HKD           -4        0.1
1   USD_CNH  CURRENCY     USD/CNH           -4       0.05
2   SGD_CHF  CURRENCY     SGD/CHF           -4       0.05
3   NZD_CAD  CURRENCY     NZD/CAD           -4       0.03
4   NZD_JPY  CURRENCY     NZD/JPY           -2       0.05
..      ...       ...         ...          ...        ...
63  USD_SGD  CURRENCY     USD/SGD           -4       0.05
64  GBP_NZD  CURRENCY     GBP/NZD           -4       0.05
65  USD_TRY  CURRENCY     USD/TRY           -4       0.25
66  GBP_JPY  CURRENCY     GBP/JPY           -2       0.05
67  CHF_HKD  CURRENCY     CHF/HKD           -4        0.1

[68 rows x 5 columns]