In [ ]:
import requests
import defs
import pandas as pd

In [5]:
session = requests.Session()

In [6]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [12]:
url = f"{defs.OANDO_URL}instruments/{instrument}/candles"

In [14]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [15]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [16]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [17]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [18]:
response.status_code

200

In [20]:
data  = response.json()

In [22]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [23]:
len(data["candles"])

10

In [26]:
prices = ['min', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [28]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

min_o
min_h
min_l
min_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [37]:
data["candles"][0]['bid']['o']

'1.15228'

In [46]:

print(prices)
for candle in data['candles']:
    print(candle)

['bid', 'mid', 'ask']
{'complete': True, 'volume': 5013, 'time': '2025-04-21T23:00:00.000000000Z', 'bid': {'o': '1.15228', 'h': '1.15232', 'l': '1.15071', 'c': '1.15133'}, 'mid': {'o': '1.15236', 'h': '1.15241', 'l': '1.15078', 'c': '1.15142'}, 'ask': {'o': '1.15245', 'h': '1.15250', 'l': '1.15085', 'c': '1.15152'}}
{'complete': True, 'volume': 11833, 'time': '2025-04-22T00:00:00.000000000Z', 'bid': {'o': '1.15134', 'h': '1.15137', 'l': '1.14812', 'c': '1.14897'}, 'mid': {'o': '1.15143', 'h': '1.15144', 'l': '1.14820', 'c': '1.14904'}, 'ask': {'o': '1.15152', 'h': '1.15154', 'l': '1.14828', 'c': '1.14912'}}
{'complete': True, 'volume': 10590, 'time': '2025-04-22T01:00:00.000000000Z', 'bid': {'o': '1.14897', 'h': '1.14978', 'l': '1.14849', 'c': '1.14939'}, 'mid': {'o': '1.14905', 'h': '1.14986', 'l': '1.14858', 'c': '1.14947'}, 'ask': {'o': '1.14913', 'h': '1.14994', 'l': '1.14866', 'c': '1.14955'}}
{'complete': True, 'volume': 6829, 'time': '2025-04-22T02:00:00.000000000Z', 'bid': {'o': '1.14942', 'h': '1.15199', 'l': '1.14931', 'c': '1.15198'}, 'mid': {'o': '1.14950', 'h': '1.15208', 'l': '1.14939', 'c': '1.15206'}, 'ask': {'o': '1.14957', 'h': '1.15216', 'l': '1.14947', 'c': '1.15215'}}
{'complete': True, 'volume': 10267, 'time': '2025-04-22T03:00:00.000000000Z', 'bid': {'o': '1.15197', 'h': '1.15401', 'l': '1.15182', 'c': '1.15339'}, 'mid': {'o': '1.15206', 'h': '1.15409', 'l': '1.15190', 'c': '1.15348'}, 'ask': {'o': '1.15215', 'h': '1.15417', 'l': '1.15198', 'c': '1.15357'}}
{'complete': True, 'volume': 5827, 'time': '2025-04-22T04:00:00.000000000Z', 'bid': {'o': '1.15340', 'h': '1.15395', 'l': '1.15265', 'c': '1.15294'}, 'mid': {'o': '1.15348', 'h': '1.15403', 'l': '1.15273', 'c': '1.15302'}, 'ask': {'o': '1.15357', 'h': '1.15411', 'l': '1.15281', 'c': '1.15311'}}
{'complete': True, 'volume': 12376, 'time': '2025-04-22T05:00:00.000000000Z', 'bid': {'o': '1.15294', 'h': '1.15467', 'l': '1.15176', 'c': '1.15415'}, 'mid': {'o': '1.15302', 'h': '1.15475', 'l': '1.15184', 'c': '1.15422'}, 'ask': {'o': '1.15310', 'h': '1.15484', 'l': '1.15193', 'c': '1.15429'}}
{'complete': True, 'volume': 19152, 'time': '2025-04-22T06:00:00.000000000Z', 'bid': {'o': '1.15415', 'h': '1.15452', 'l': '1.14954', 'c': '1.15002'}, 'mid': {'o': '1.15424', 'h': '1.15460', 'l': '1.14962', 'c': '1.15009'}, 'ask': {'o': '1.15432', 'h': '1.15467', 'l': '1.14970', 'c': '1.15016'}}
{'complete': True, 'volume': 18611, 'time': '2025-04-22T07:00:00.000000000Z', 'bid': {'o': '1.15001', 'h': '1.15084', 'l': '1.14825', 'c': '1.15050'}, 'mid': {'o': '1.15008', 'h': '1.15092', 'l': '1.14833', 'c': '1.15058'}, 'ask': {'o': '1.15016', 'h': '1.15099', 'l': '1.14841', 'c': '1.15065'}}
{'complete': False, 'volume': 5306, 'time': '2025-04-22T08:00:00.000000000Z', 'bid': {'o': '1.15050', 'h': '1.15090', 'l': '1.14941', 'c': '1.14974'}, 'mid': {'o': '1.15058', 'h': '1.15097', 'l': '1.14948', 'c': '1.14982'}, 'ask': {'o': '1.15066', 'h': '1.15105', 'l': '1.14955', 'c': '1.14991'}}

In [50]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2025-04-21T23:00:00.000000000Z', 'volume': 5013, 'bid_o': '1.15228', 'bid_h': '1.15232', 'bid_l': '1.15071', 'bid_c': '1.15133', 'mid_o': '1.15236', 'mid_h': '1.15241', 'mid_l': '1.15078', 'mid_c': '1.15142', 'ask_o': '1.15245', 'ask_h': '1.15250', 'ask_l': '1.15085', 'ask_c': '1.15152'}

In [51]:
candles_df = pd.DataFrame.from_dict(our_data)

In [52]:
candles_df

,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,2025-04-21T23:00:00.000000000Z,5013,1.15228,1.15232,1.15071,1.15133,1.15236,1.15241,1.15078,1.15142,1.15245,1.15250,1.15085,1.15152
1,2025-04-22T00:00:00.000000000Z,11833,1.15134,1.15137,1.14812,1.14897,1.15143,1.15144,1.14820,1.14904,1.15152,1.15154,1.14828,1.14912
2,2025-04-22T01:00:00.000000000Z,10590,1.14897,1.14978,1.14849,1.14939,1.14905,1.14986,1.14858,1.14947,1.14913,1.14994,1.14866,1.14955
3,2025-04-22T02:00:00.000000000Z,6829,1.14942,1.15199,1.14931,1.15198,1.14950,1.15208,1.14939,1.15206,1.14957,1.15216,1.14947,1.15215
4,2025-04-22T03:00:00.000000000Z,10267,1.15197,1.15401,1.15182,1.15339,1.15206,1.15409,1.15190,1.15348,1.15215,1.15417,1.15198,1.15357
5,2025-04-22T04:00:00.000000000Z,5827,1.15340,1.15395,1.15265,1.15294,1.15348,1.15403,1.15273,1.15302,1.15357,1.15411,1.15281,1.15311
6,2025-04-22T05:00:00.000000000Z,12376,1.15294,1.15467,1.15176,1.15415,1.15302,1.15475,1.15184,1.15422,1.15310,1.15484,1.15193,1.15429
7,2025-04-22T06:00:00.000000000Z,19152,1.15415,1.15452,1.14954,1.15002,1.15424,1.15460,1.14962,1.15009,1.15432,1.15467,1.14970,1.15016
8,2025-04-22T07:00:00.000000000Z,18611,1.15001,1.15084,1.14825,1.15050,1.15008,1.15092,1.14833,1.15058,1.15016,1.15099,1.14841,1.15065

In [53]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [54]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [55]:
test_df

,time,volume,bid_o,bid_h,bid_l,bid_c,mid_o,mid_h,mid_l,mid_c,ask_o,ask_h,ask_l,ask_c
0,2025-04-21T23:00:00.000000000Z,5013,1.15228,1.15232,1.15071,1.15133,1.15236,1.15241,1.15078,1.15142,1.15245,1.15250,1.15085,1.15152
1,2025-04-22T00:00:00.000000000Z,11833,1.15134,1.15137,1.14812,1.14897,1.15143,1.15144,1.14820,1.14904,1.15152,1.15154,1.14828,1.14912
2,2025-04-22T01:00:00.000000000Z,10590,1.14897,1.14978,1.14849,1.14939,1.14905,1.14986,1.14858,1.14947,1.14913,1.14994,1.14866,1.14955
3,2025-04-22T02:00:00.000000000Z,6829,1.14942,1.15199,1.14931,1.15198,1.14950,1.15208,1.14939,1.15206,1.14957,1.15216,1.14947,1.15215
4,2025-04-22T03:00:00.000000000Z,10267,1.15197,1.15401,1.15182,1.15339,1.15206,1.15409,1.15190,1.15348,1.15215,1.15417,1.15198,1.15357
5,2025-04-22T04:00:00.000000000Z,5827,1.15340,1.15395,1.15265,1.15294,1.15348,1.15403,1.15273,1.15302,1.15357,1.15411,1.15281,1.15311
6,2025-04-22T05:00:00.000000000Z,12376,1.15294,1.15467,1.15176,1.15415,1.15302,1.15475,1.15184,1.15422,1.15310,1.15484,1.15193,1.15429
7,2025-04-22T06:00:00.000000000Z,19152,1.15415,1.15452,1.14954,1.15002,1.15424,1.15460,1.14962,1.15009,1.15432,1.15467,1.14970,1.15016
8,2025-04-22T07:00:00.000000000Z,18611,1.15001,1.15084,1.14825,1.15050,1.15008,1.15092,1.14833,1.15058,1.15016,1.15099,1.14841,1.15065